#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-image: url(./img/fundo.png);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.lista{
  background-color: #eee7e7;
  text-align: left;
  border-radius: 10px;
  font-style: oblique;
  padding-top: 8px;

}

.suporte{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

.botao-pagar{
  background-color: rgb(237, 172, 160);
}
.video{
  border-radius: 5%;
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
  .video {
    margin: 0 auto;
    height: 190px;
  }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
  .video {
    margin: 0 auto;
  }
}

/* Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
  .video {
    max-width: 750px; /* Largura máxima permitida */
    width: 100%; /* Garante que ocupe toda a largura disponível até 900px */
    height: 400px;
  }
}

/* Dispositivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
  .video {
    margin: 0 auto;
    max-width: 900px; /* Largura máxima permitida */
    width: 100%; /* Garante que ocupe toda a largura disponível até 900px */
    height: 500px;
  }
}